

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: #1153d8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  height: 70px;
  font-size: 18px;
  padding: 20px;
  background: linear-gradient(to left, #1cb5e0, #000046);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  margin-left: 10px;
  text-decoration: none;
  color: #cfc9c9;
  width: 350px;
}

.logo {
  margin-left: 10px;
  font-size: 42px;
  text-decoration: none;
  color: #cfc9c9;
}


footer {
  background-color: rgb(20, 170, 230);
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  margin-top: 79px;
}

@media (max-width: 900px) 
  .navbar {
    height: 60px;
    padding: 10px;
    font-size: 16px;
  }

  .RATIU{

    text-align: center;
    border-radius: 20cm;
    border-style: dotted;
    background-color: rgb(52, 160, 172);
    display: block;
    width: 250px;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 2px 10px 13px 3px;
    text-decoration: none;
    margin: auto;
    margin-top: 30px;
     }